<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.my_plant">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.my_plant.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.my_plant.AddTypeActivity"
            android:label="Создание вида" />
        <activity
            android:name="com.example.my_plant.TypeListActivity"
            android:label="Виды растений" />

        <activity
            android:name="com.example.my_plant.HumidityChartConstruction"
            android:label="График влажности воздуха" />
        <activity
            android:name="com.example.my_plant.TemperatureChartConstruction"
            android:label="График температуры" />
        <activity
            android:name="com.example.my_plant.LightChartConstruction"
            android:label="График освещенности" />
        <activity
            android:name="com.example.my_plant.WaterListHistory"
            android:label="История поливов" />

        <activity
            android:name="com.example.my_plant.DeleteTypeActivity"
            android:label="Удалить тип растения" />
        <activity
            android:name="com.example.my_plant.DeleteProfileActivity"
            android:label="Удалить профиль растения" />
    </application>

</manifest>